<div id="principal">
    <div style="width: 99%;">
        <div class="row" style="padding:5px">
            <div class="col-2">
               <span>
                    <sidebar [listItemsCombo]="listItemsConcepto"   (eventSubmitQuery)="lanzarQuery($event)"></sidebar>
               </span>
            </div>
       
            <div class="col-10">
            <span class="d-block">
                <div >
                    <span>
                    <tableviewercommon ></tableviewercommon>
                    </span>
                </div>
            </span>   
            <span class="d-block">
                <div >
                    <span>
                    <tableviewercommon ></tableviewercommon>
                    </span>
                </div>
            </span>  
            <span class="d-block">
                <div >
                    <span>
                    <tableviewercommon ></tableviewercommon>
                    </span>
                </div>
            </span>  

        </div> 
        </div>
    </div>
</div>    

