
<div>
<h5>{{cabecera}}</h5>    
<div  id="scroller">
    <table class="table table-primary table-hover table-bordered border-primary table-sm" >
        <thead *ngIf="rows.length==0">
          <tr>
                <th>Recopilando datos ....</th>
          </tr>
        </thead>
        <thead *ngIf="rows.length > 0">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Hora</th>
              <th scope="col">Turno</th>
              <th scope="col">Programa</th>
            </tr>
          </thead>
 
          <tbody>
            <!---<tr class="table-active">-->
            <tr *ngFor="let item of rows; let i=index" [class.table-active]="i==0" >
              <th scope="row">{{i}}</th>
              <td>{{item.ddate}}</td>
              <td>{{item.htime}}</td>
              <td>{{item.sshift}}</td>
              <td>{{item.sexploitationplan}}</td>
            </tr>
          </tbody>
    </table>
  </div>
</div>