
#scroller {
  

    height: 132px;
    border: 2px solid black;
    overflow-y: scroll; /* Add the ability to scroll */
    background-color: black;
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  #scroller::-webkit-scrollbar {
      display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  #scroller {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }