
<div>
<h5>Sesiones maquina TOP 1</h5>    
<div class="table-responsive-md" id="scroller">
 
    
    <table class="table table-primary table-hover table-bordered border-primary table-sm" >
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Turno</th>
              <th scope="col">Programa</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active">
              <th scope="row">1</th>
              <td>14/04/2024</td>
              <td>Mañana</td>
              <td>Unico_Zonal.01E</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>14/04/2024</td>
                <td>Mañana</td>
                <td>Unico_Zonal.01E</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>14/04/2024</td>
                <td>Mañana</td>
                <td>Unico_Zonal.01E</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>14/04/2024</td>
                <td>Mañana</td>
                <td>Unico_Zonal.01E</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>14/04/2024</td>
                <td>Mañana</td>
                <td>Unico_Zonal.01E</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>14/04/2024</td>
                <td>Mañana</td>
                <td>Unico_Zonal.01E</td>
            </tr>
            <tr>
                <th scope="row">1</th>
                <td>14/04/2024</td>
                <td>Mañana</td>
                <td>Unico_Zonal.01E</td>
            </tr>

    
  
          </tbody>
    </table>
  </div>
</div>