:host{
    display:block;
    background-color: greenyellow;
    grid-area: header;
    
    position: fixed;
    /*width:  calc(100% - 5px);*/
    width:100%;
    border: 5px;
    border-color: black;
    border-style: solid;
    left:0;
    top:0;
   
    /*left:0;
    top:0;*/
  
   
    
  
  
    
    
}