:host{
    display:block;
    background-color: greenyellow;
    grid-area: header;
    
    border: 5px;
    border-color: black;
    border-style: solid;
    position: fixed;    
    width:  calc(100% - 10px);
    left:0;
    top:0;
  
   
    
  
  
    
    
}