<nav class="navbar navbar-expand bg-body-tertiary" id="menu">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Monitor TOP 2000</a>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a [routerLink]="['/home']" class="nav-link" [routerLinkActive]="['active']">Home</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/fallos']"class="nav-link" [routerLinkActive]="['active']" >Fallos</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/traces']"class="nav-link" [routerLinkActive]="['active']" >Traces</a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/estadisticas']"class="nav-link" [routerLinkActive]="['active']">Estadisticas</a>
          </li>
        </ul>
      </div>

  </nav>