:host{
    width: 100%;
    height:100%;
    border: 5px;
    border-style:double;
    border-color: black;
    display:grid;
    grid-template-areas: 
    "header header"
    "sidebar content"
    "footer footer";
    grid-template-columns: var(--sidebar-width) 1fr;
    grid-template-rows: 50px 1fr 50px;

    gap:var(--value-gap-layout);
}
/* la asignacion del valor de una variable
   se hace con var(variable)    */
.content{
    display: block;
    background-color: cyan;
    grid-area: content;
   
}