/* :host hace referencia a el div virtual que envuelve al componente*/
:host{
   border:var(--value-gap-layout);
   border-color: black;
   border-style: solid;
   height: 100%;
  
   
    display:grid;
    grid-template-areas: 
    "header header"
    "querier querier"
    "content content"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 30px var(--sidebar-height) 1fr 40px;
    
    /* la asignacion del valor de una variable
    se hace con var(variable)    */    
    gap:var(--value-gap-layout);
}

.content{
    display: block;
    background-color:black;
    grid-area: content;
}
  