

<!--<div style="background-color: chartreuse;height: 100%;" >
    <span> TOP 2</span>
    <div class="containerMio">
        <div class="right">
        <div class="chat-wrapper">
                <div class="chat-body">
                    <div class="card" style="overflow: auto;
                    max-height: 100%;
                    width: calc(100% + 17px)">
                    <div class="card-header" style="background-color: blanchedalmond;color: blue;">
                        TOP 1
                    </div>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                            An item
                        </li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                    </ul>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                            An item
                        </li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                   
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">An item</li>
                    
                    </ul>
                    </div> 
                </div>   
        </div>
        </div>
    </div>


 
</div>-->

