<div class="linea-container">
   
   <!-- MODO COORDENADAS (Posicionamiento Absoluto) -->
  <div class="modulos-coords-wrapper" 
       *ngIf="modoCoords"
       [style.width.px]="anchoLinea"
       [style.height.px]="altoLinea">
    
    <!-- Grid de fondo para referencia visual (opcional) -->
    <!--<div class="grid-background"></div>-->
    
    <!-- Renderizar cada módulo en sus coordenadas -->
    <div *ngFor="let moduloCoords of modulosCoordsConfig; trackBy: trackByModulo" 
         [style.left.px]="moduloCoords.x"
         [style.top.px]="moduloCoords.y"
         class="modulo-wrapper">
      
      
      <!-- Módulo tipo Coords -->
      <app-modulo-transporte-coords 
        [config]="moduloCoords.config">
      </app-modulo-transporte-coords>
      
      <!-- Marcador de posición (opcional, para debugging) -->
      <div class="position-marker" 
           title="X: {{moduloCoords.x}}px, Y: {{moduloCoords.y}}px">
      </div>
    </div>
  </div>
  
  <div class="colConnection">
    <!-- Estado de conexión -->
    <div>{{ ws.estadoTexto() }}</div>
    <div> Mensajes: {{ ws.mensajesRecibidos() }} | Tracking: {{ ws.trackingRecibidos() }}</div>

    <button (click)="conectar()"   *ngIf="!ws.conectado()">Conectar</button>
    <button (click)="desconectar()" *ngIf="ws.conectado()">Desconectar</button>
    <button (click)="linkarTop()"  *ngIf="ws.conectado() && !ws.linkedTop()">Link TOP</button>
  </div>


</div>
