<div id="principal">
    <div style="width: 99%;">
        <div class="row" style="padding:5px">
            <div class="col-2">
               <span>
                    <!--      propiedad -->  con los items               
                    <sidebar  [listItemsCombo]="listItemsConcepto"  (eventSubmitQuery)="lanzarQuery($event)"></sidebar>
               </span>
            </div>
            <!------------------Logica render graficas----------------------------------->
            <div *ngIf="!verMaquina1 && !verMaquina2" class="col-10">
                <span>
                    <p>Ambas , url= {{urlAmbos}}</p>
                    <h5 style="text-align:center">AMBAS MAQUINAS</h5>
                     <grafica [target]="'Ambos'" 
                              [xAxisLabel]="xAxisLabel"
                              [yAxisLabel]="yAxisLabel"
                             >
                     </grafica>
                </span>
             </div>
 
            <div *ngIf="verMaquina1 && !verMaquina2" class="col-10">
               <span>
                <p>Top1 , url= {{urlTop1}}</p>
                <h5 style="text-align:center">TOP 1</h5>
                    <grafica [target]="'Top1'" 
                             [xAxisLabel]="xAxisLabel"
                             [yAxisLabel]="yAxisLabel"
                            >
                    </grafica>
               </span>
            </div>
            <div *ngIf="verMaquina2 && !verMaquina1" class="col-10">
                <span>
                    <p>Top2 , url= {{urlTop2}}</p>
                    <h5 style="text-align:center">TOP 2</h5>
    
                     <grafica [target]="'Top2'" 
                              [xAxisLabel]="xAxisLabel"
                              [yAxisLabel]="yAxisLabel"
                             >
                     </grafica>
                </span>
             </div>
             <div *ngIf="verMaquina1 && verMaquina2" class="col-5">
                <span>
                    TOP1
                     <grafica [target]="'Top1'" 
                              [xAxisLabel]="xAxisLabel"
                              [yAxisLabel]="yAxisLabel"
                             >
                     </grafica>
                </span>
             </div>

             <div *ngIf="verMaquina1 && verMaquina2" class="col-5">
               <span>
                   TOP2
                    <grafica [target]="'Top2'" 
                             [xAxisLabel]="xAxisLabel"
                             [yAxisLabel]="yAxisLabel"
                            >
                    </grafica>
               </span>
            </div>
        </div>
    </div>
</div>    
