/*la notacion -- permite la definicion
  de variables css */
:root{
    --sidebar-width:120px;
    --cabecera-height:40px;
    --value-gap-layout: 5px;
}


html,body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: black;
    color: aliceblue;
 
   
}