/*la notacion -- permite la definicion  de variables css */
:root{
    --sidebar-width:160px;
    --cabecera-height:40px;
    --value-gap-layout: 5px;
}


html,body{
    /*height: calc(100% - 5px);*/
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1vh;
    
 
    background-color: black;
    color: aliceblue;
}